

.main-image {
    margin-top: 40px;
    width: 80%;
    
}

#components-grid-demo-flex-align [class~='ant-row'] {
  background: rgba(128, 128, 128, 0.08);
}

 .horizontal-menu{
     width: 80%;
    display: flex;
    justify-content: space-evenly;  
    margin: 0 180px;
    cursor: pointer;
}

.horizontal-menu-text{
    color: white;
}

.horizontal-menu-text h2:hover{
    color: #111111;
    cursor: pointer;
    text-decoration: underline;
  }

.horizontal-image{
    width: 100%;
    flex-basis: auto;
    cursor: pointer;
    
}

.horizontal-bottom{
    align-items: center;
    justify-content: center;
    background-color: brown;
    margin-bottom: 30px;
    padding-bottom: 30%;
    cursor: pointer;
} 

.horizontal-flex{
    width: 350px;
    
}

.info{
    width: 80%;
    background-color: rgb(246, 166, 78);
    margin-left: 20%;
    margin: 10px 180px;
    text-align: left;
    padding: 20px;
}

.info-2{
    width: 80%;
    margin-left: 20%;
    margin: 10px 180px;
    text-align: left;
    padding: 20px;
}

.info > button{
    background-color: black;
    color: white;
    border-radius: 16px;
    padding: 10px;
    cursor: pointer;
}

.sale-button{
    background-color: black;
    color: white;
    border-radius: 16px;
    padding: 10px;
    cursor: pointer;
    
}

.texts {
    text-align: left;
    margin: 0 180px;
}

.shopnow{
    display: flex;
    margin: 10px 180px;
    text-align: left;
    
}

.shopnow-flex{
    width: 50%;
}

.shopnow-flex > img{
    width: 95%;
    cursor: pointer;
}

.top-categories{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    cursor: pointer;
}



.top-categories-2{
    display: flex;
    width: 80%;
    margin: 0 13%;
    justify-content: space-evenly;
    cursor: pointer;
    
}

.top-categories-2 h2:hover{
    color: #111111;
    cursor: pointer;
    text-decoration: underline;
  }


.categories-image{
    width: 80%;
}

.categories-image>img{
    margin-left: 180px;
    width: 90%;
    cursor: pointer;
}

.card{
    margin-left: 10%;
    display: flex;
    justify-content: space-evenly;
}

.pinterest>img{
    cursor: pointer;
}